@inject HttpClient HttpClient;
@inject IJSRuntime jsRuntime;
@inject Cardápio.Client.Infra.Provider.CustomAuthenticationStateProvider Provider;

@inject Cardápio.Client.Pages.Empresas.EmpresaService EmpresaService;
@inject Cardápio.Client.Pages.Usuarios.UsuarioService UsuarioService;
@inject Cardápio.Client.Pages.Grupo.GrupoService GrupoService;

@using System.Text.Json.Serialization;
@using System.Collections.ObjectModel;
@using Cardápio.Client.Components.Modal;

@code {
    [Parameter] public ObservableCollection<GrupoGetDTO> Grupos { get; set; } = new ObservableCollection<GrupoGetDTO>();
    [Parameter] public EventCallback<IList<GrupoGetDTO>> HandleConfirm { get; set; }
    [Parameter] public EventCallback<IList<GrupoGetDTO>> SelectedTypeChanged { get; set; }
    [Parameter] public IList<GrupoGetDTO> SelectedGrupo { get; set; } = new List<GrupoGetDTO>();

    private async Task RowChanged(GrupoGetDTO grupo)
    {
        if (SelectedGrupo.Count() != 0)
        {
            SelectedGrupo.Clear();
        }

        SelectedGrupo.Add(grupo);

        await SelectedTypeChanged.InvokeAsync(SelectedGrupo);
    }



    private bool isReturningEmpresaModalOpen;
    private EmpresaGetDTO selectedEmpresaModal;
    private void OpenConfirmReturnEmpresaModal(EmpresaGetDTO empresa)
    {
        selectedEmpresaModal = empresa;
        isReturningEmpresaModalOpen = true;
    }

    private void OnReturnEmpresaCancel()
    {
        isReturningEmpresaModalOpen = false;
        selectedEmpresaModal = null;
    }

    private async Task OnReturnEmpresaConfirm()
    {
        try
        {
            await GrupoService.OnReturnEmpresaConfirm(SelectedGrupo.First().ID, selectedEmpresaModal.ID);
            await HandleConfirm.InvokeAsync(SelectedGrupo);
            StateHasChanged();
            isReturningEmpresaModalOpen = false;
            selectedEmpresaModal = null;
        }
        catch (Exception err)
        {
            throw err;
        }
    }
}

<Modal T="GrupoUpdateDTO"
       IsOpen="isEditingGroupModalOpen"
       OnConfirm="@OnEditGroupConfirm"
       OnCancel="@OnEditGroupCancel"
       ActionType="editing/grupo"
       SelectedDTO="GrupoGetDTO"
       Selected="selectedGrupoModal">
</Modal>

<Modal T="object"
       IsOpen="isReturningGroupModalOpen"
       OnConfirm="@OnReturnGroupConfirm"
       OnCancel="@OnReturnGroupCancel"
       ActionType="returning/group"
       SelectedDTO="object">
</Modal>

<Modal T="object"
       IsOpen="isReturningEmpresaModalOpen"
       OnConfirm="@OnReturnEmpresaConfirm"
       OnCancel="@OnReturnEmpresaCancel"
       ActionType="returning/empresa"
       SelectedDTO="object">
</Modal>

<RadzenColumn Size="12" SizeMD="6">
    <RadzenDataGrid @ref="dataGrid" 
                    TItem="GrupoGetDTO" 
                    AllowColumnResize="true" 
                    AllowFiltering="false" 
                    AllowPaging="true" 
                    PageSize="5" A
                    llowSorting="true" 
                    Data="@Grupos" 
                    @bind-Value="@SelectedGrupo" 
                    Page="@(() => {})"
                    class="rz-border-radius-1 rz-shadow-1"
                    style="min-height: 300px; max-height: 300px; height: 100%;" lang="pt-br" RowSelect="@(e => RowChanged(e))" Responsive="true">
        <EmptyTemplate>
            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">Nenhum grupo foi encontrado.</p>
        </EmptyTemplate>
        <Columns>
            <RadzenDataGridColumn Property="ID" Title="ID" Width="120px" CssClass="number" />
            <RadzenDataGridColumn Property="Nome" Title="Nome" />
            <RadzenDataGridColumn Property="Ativo" Title="Status" Width="120px">
                <Template Context="grupo">
                    <span class="exclude" title="Excluido"><i class="fa-solid fa-user"></i></span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GrupoGetDTO" Property="Buttons:" Filterable="false" Sortable="false" Width="140px" Resizable="false" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                <Template>
                    <div class="wrap">
                        <button title="Editar informações" class="edit-button rz-ripple button-blue" @onclick="() => OpenEditingGroupModal(context)"><i class="fa-regular fa-pen-to-square"></i></button>
                        <button title="Retornar grupo" class="view-button rz-ripple button-cyan" @onclick="() => OpenConfirmReturnGroupModal(context)"><i class="fa-solid fa-arrow-rotate-left"></i></button>
                    </div>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</RadzenColumn>

<RadzenColumn Size="12" SizeMD="6">
    <RadzenCard Variant="Variant.Outlined" Style="height: 100%;">
        <RadzenStack Gap="1rem">
            <RadzenCard Variant="Variant.Text" class="rz-background-color-primary-lighter rz-color-on-primary-lighter">
                @if (SelectedGrupo != null && SelectedGrupo.Any() && SelectedGrupo.First() != null && !string.IsNullOrEmpty(SelectedGrupo.First().Nome))
                {
                    @:Grupo: <span style="color: #073B4C !important;">@SelectedGrupo.First().Nome</span>
                }
                else
                {
                    @:Selecione um grupo para informações
                }
            </RadzenCard>

            @if (SelectedGrupo != null && SelectedGrupo.Any())
            {
                var grupo = SelectedGrupo.First();

                @if (grupo.Empresas != null)
                {
                    <RadzenDataGrid ExpandMode="DataGridExpandMode.Single"
                                    RowExpand="@OnEmpresaRowExpand"
                                    RowCollapse="@OnEmpresaRowCollapse"
                                    RowRender="@onRowRender"
                                    Data="@grupo.Empresas"
                                    TItem="EmpresaGetDTO"
                                    AllowPaging="true"
                                    AllowColumnResize="true"
                                    AllowFiltering="false"
                                    PageSize="5" 
                                    Page="@(() => {})"
                                    Responsive="true"> 
                        <EmptyTemplate>
                            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">Nenhuma empresa foi encontrada.</p>
                        </EmptyTemplate>
                        <Columns>
                            <RadzenDataGridColumn TItem="EmpresaGetDTO" Property="ID" Title="ID da empresa" Resizable="true" Filterable="false" Sortable="true" CssClass="number" Width="110px">
                                <Template>
                                    @((context as EmpresaGetDTO).ID)
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="EmpresaGetDTO" Property="Nome" Title="Nome da empresa" Resizable="true" Filterable="false" Sortable="true" Width="150px">
                                <Template>
                                    <div style="overflow-x: auto; max-height: 100px; white-space: nowrap; box-sizing: border-box; padding-right: 16px; width: 100%;">
                                        @((context as EmpresaGetDTO).Nome)
                                    </div>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="EmpresaGetDTO" Property="RazaoSocial" Title="Razão Social" Resizable="true" Filterable="false" Sortable="true" Width="150px">
                                <Template>
                                    <div style="overflow-x: auto; max-height: 100px; white-space: nowrap; box-sizing: border-box; padding-right: 16px; width: 100%;">
                                        @((context as EmpresaGetDTO).RazaoSocial)
                                    </div>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="EmpresaGetDTO" Property="Cidade.CidNome" Title="Cidade" Resizable="true" Filterable="false" Sortable="true" Width="110px">
                                <Template>
                                    <div style="overflow-x: auto; max-height: 100px; white-space: nowrap; box-sizing: border-box; padding-right: 16px; width: 100%;">
                                        @((context as EmpresaGetDTO).Cidade.CidNome)
                                    </div>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="EmpresaGetDTO" Property="Ativo" Title="Status" Resizable="true" Filterable="false" Sortable="true" Width="120px">
                                <Template>
                                    <span class="exclude" title="Excluido"><i class="fa-solid fa-user"></i></span>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="EmpresaGetDTO" Property="Buttons:" Filterable="false" Sortable="false" Width="80px" Resizable="false" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                                <Template>
                                    <div class="wrap">
                                        <button title="Retornar empresa" class="view-button rz-ripple button-cyan"
                                                @onclick="() => OpenConfirmReturnEmpresaModal(context)">
                                            <i class="fa-solid fa-arrow-rotate-left"></i>
                                        </button>
                                    </div>
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>

                        <Template Context="empresa">
                            <RadzenDataGrid Data="@empresa.Usuarios" TItem="UsuarioGetDTO" AllowColumnResize="true" AllowFiltering="false" AllowPaging="true" PageSize="5" Responsive="true" Page="@(() => {})">
                                <EmptyTemplate>
                                    <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">Nenhum usuário foi encontrado.</p>
                                </EmptyTemplate>
                                <Columns>
                                    <RadzenDataGridColumn TItem="UsuarioGetDTO" Property="ID" Title="ID do Usuário" Resizable="true" Filterable="false" Sortable="true" CssClass="number" Width="120px">
                                        <Template>
                                            @((context as UsuarioGetDTO).ID)
                                        </Template>
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="UsuarioGetDTO" Property="Nome" Title="Nome do Usuário" Resizable="true" Filterable="false" Sortable="true" Width="150px">
                                        <Template>
                                            <div style="overflow-x: auto; max-height: 100px; white-space: nowrap; box-sizing: border-box; padding-right: 16px; width: 100%;">
                                                <Cardápio.Client.Components.CopyButton.CopyButton Content="@((context as UsuarioGetDTO).Nome)" Title="Copiar Nome" />
                                            </div>
                                        </Template>
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="UsuarioGetDTO" Property="Email" Title="Email" Resizable="true" Filterable="false" Sortable="true" Width="150px">
                                        <Template>
                                            <div style="overflow-x: auto; max-height: 100px; white-space: nowrap; box-sizing: border-box; padding-right: 16px; width: 100%;">
                                                <Cardápio.Client.Components.CopyButton.CopyButton Content="@((context as UsuarioGetDTO).Email)" Title="Copiar Email" />
                                            </div>
                                        </Template>
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="UsuarioGetDTO" Property="Categoria" Title="" CssClass="copy" Filterable="false" Sortable="false" Resizable="false" Frozen="true" Width="64px">
                                        <Template>
                                            <div style="overflow-x: auto; max-height: 100px; white-space: nowrap; box-sizing: border-box; padding-right: 16px; width: 100%;">
                                                <Cardápio.Client.Components.CopyButton.CopyButton Content="@((context as UsuarioGetDTO).Email)" Title="Copiar Email" />
                                            </div>
                                        </Template>
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="UsuarioGetDTO" Property="UsuarioTipo" Title="Tipo de Usuário" Resizable="true" Filterable="false" Sortable="true" Width="100px">
                                        <Template>
                                            @{
                                                var usuarioTipoID = (context as UsuarioGetDTO).UsuarioTipoID;
                                                if (usuarioTipoID == 1 || usuarioTipoID == 3)
                                                {
                                                    <span>Admin</span>
                                                }
                                                else
                                                {
                                                    <span>Comum</span>
                                                }
                                            }
                                        </Template>
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="UsuarioGetDTO" Property="Ativo" Title="Status" Resizable="true" Filterable="false" Sortable="true" Width="120px">
                                        <Template>
                                            <span class="exclude" title="Excluido"><i class="fa-solid fa-user"></i></span>
                                        </Template>
                                    </RadzenDataGridColumn>
                                </Columns>
                            </RadzenDataGrid>
                        </Template>
                    </RadzenDataGrid>
                }
            }
        </RadzenStack>
    </RadzenCard>
</RadzenColumn>

@code {
    private UsuarioGetDTO usuario;
    private string token;

    private Dictionary<int, bool> expandedRows = new Dictionary<int, bool>();
    public RadzenDataGrid<GrupoGetDTO> dataGrid { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            token = await Provider.GetTokenAsync();
        }
    }

    void OnEmpresaRowExpand(EmpresaGetDTO empresa)
    {
        if (!expandedRows.ContainsKey(empresa.ID))
        {
            expandedRows[empresa.ID] = true;
        }

        StateHasChanged();
    }

    void OnEmpresaRowCollapse(EmpresaGetDTO empresa)
    {
        if (expandedRows.ContainsKey(empresa.ID))
        {
            expandedRows[empresa.ID] = false;
        }

        StateHasChanged();
    }

    void onRowRender(RowRenderEventArgs<EmpresaGetDTO> args)
    {
    }
}

@code {
    private bool isEditingGroupModalOpen;
    private bool isReturningGroupModalOpen;
    private GrupoGetDTO selectedGrupoModal;

    private void OpenEditingGroupModal(GrupoGetDTO grupoGetDTO)
    {
        selectedGrupoModal = grupoGetDTO;
        isEditingGroupModalOpen = true;
    }

    private void OpenConfirmReturnGroupModal(GrupoGetDTO grupoGetDTO)
    {
        selectedGrupoModal = grupoGetDTO;
        isReturningGroupModalOpen = true;
    }

    private async Task OnReturnGroupConfirm()
    {
        try {
            await GrupoService.OnReturnGroupConfirm(SelectedGrupo.First().ID);

            if (Grupos != null && Grupos.Any())
            {
                await HandleConfirm.InvokeAsync(SelectedGrupo);
                StateHasChanged();

                if (Grupos.Count != 0)
                {
                    SelectedGrupo = new List<GrupoGetDTO> { Grupos[0] };
                    StateHasChanged();
                }
            }

            isReturningGroupModalOpen = false;
            selectedGrupoModal = null;
        } 
        catch (Exception err)
        {
            throw err;
        }

    }

    private Task OnReturnGroupCancel()
    {
        isReturningGroupModalOpen = false;
        selectedGrupoModal = null;
        return Task.CompletedTask;
    }

    private async Task OnEditGroupConfirm(GrupoUpdateDTO grupoDataDTO)
    {
        try {
            await GrupoService.OnEditGroupConfirm(grupoDataDTO, selectedGrupoModal.ID);
            await HandleConfirm.InvokeAsync(SelectedGrupo);

            isEditingGroupModalOpen = false;
            selectedGrupoModal = null;
        } catch (Exception err)
        {
            throw err;
        }
    }

    private Task OnEditGroupCancel()
    {
        isEditingGroupModalOpen = false;
        selectedGrupoModal = null;
        return Task.CompletedTask;
    }
}

<style type="text/css">
    .rz-column-title-content {
        font-weight: bold !important;
    }

    .rz-column-title {
        font-weight: bold !important;
    }

    .rz-dropdown {
        font-size: 14px !important;
        display: flex;
        justify-content: center;
    }

    @@media screen and (max-width:768px) {
        .hidden {
            display: none !important;
        }
    }

    @@media screen and (max-width:600px) {
        .hidden {
            display: none !important;
        }

        tbody {
            display: grid !important;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .rz-row-toggler {
        cursor: pointer !important;
    }

    .rz-selectable tbody tr.rz-data-row.rz-state-highlight > td {
        background-color: #118AB230 !important;
    }

    .rz-selectable tbody tr.rz-data-row.rz-state-highlight .rz-cell-data {
        color: #118AB2 !important;
    }

    .rz-background-color-primary-lighter {
        background-color: #118AB230 !important;
    }

    .rz-color-on-primary-lighter {
        color: #118AB2 !important;
    }

    .rz-card {
        font-size: 14px !important;
    }

    .rz-expanded-row-content > td {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    th:last-child .rz-column-title:last-child {
        justify-content: end !important;
        padding-right: 1rem !important
    }

    @@media screen and (max-width: 768px) {
        td:last-child {
            display: flex !important;
            flex-direction: column !important;
            align-items: start !important;
            gap: .5rem !important;
        }
    }

    .wrap {
        justify-content: center;
        gap: .5rem !important;
    }
</style>